.recently-played{
    margin-top:10rem;
}
.recently-played__wrapper{
   
}
.recently-played__top{
    
}
.recetly-played__title{
   
}
.recently-played__buttons{
 display: flex;
 gap: 3rem;
 cursor: pointer;
 color: var(--black);
}
.recently-played__button{

}
.recently-played__button:hover{
    stroke: var(--white);
}
.recently-played__musics{
   
}
.recently-played__musics:hover{
}
.categories{
    
}
.category-wrapper{
}
/* 
 __________Days_______________
*/
.days{
    margin-top: 10rem;
}
.days__wrapper{
    
}
.days__top{
    
}
.days__title{
}
.days__view{
    cursor: pointer;
}
.days__musics{
}